# Copy to .env and fill values
# Discord
BOT_TOKEN=your_discord_bot_token_here
CHANNEL_ID=111111111111111111
# Firebase
FIREBASE_CREDENTIALS=serviceAccountKey.json
FIREBASE_DB_URL=https://your-project.firebaseio.com
# Don't change
API_URL=https://www.4gamers.com.tw/site/api/news/of-category/1118?nextStart=0&pageSize=25
